In [1]:
!pip install duckdb
!pip install jupysql
!pip install duckdb-engine

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: duckdb in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (0.8.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: jupysql in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (0.10.1)
Requirement already satisfied: prettytable in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from jupysql) (3.9.0)
Requirement already satisfied: ipython in /usr/lib/python3/dist-packages (from jupysql) (7.31.1)
Requirement already satisfied: sqlalchemy in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from jupysql) (2.0.20)
Requirement already satisfied: sqlparse in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from jupysql) (0.4.4)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from jupysql) (0.2.0)
Requirement already satisfied: sqlglot in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from jupysql) (18.5.1)
Requirement already satisfied: jinja2 in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from jupysql) (3.1.2)
Requirement already satisfied: ploomber-core>=0.2.7 in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from jupysql) (0.2.14)
Requirement already satisfied: click in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from ploomber-core>=0.2.7->jupysql) (8.1.7)
Requirement already satisfied: pyyaml in /usr/lib/python3/dist-packages (from ploomber-core>=0.2.7->jupysql) (5.4.1)
Requirement already satisfied: posthog in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from ploomber-core>=0.2.7->jupysql) (3.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from jinja2->jupysql) (2.1.3)
Requirement already satisfied: wcwidth in /usr/lib/python3/dist-packages (from prettytable->jupysql) (0.2.5)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from sqlalchemy->jupysql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from sqlalchemy->jupysql) (2.0.2)
Requirement already satisfied: requests<3.0,>=2.7 in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.31.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: monotonic>=1.5 in /usr/lib/python3/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/lib/python3/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2023.7.22)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: duckdb-engine in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (0.9.2)
Requirement already satisfied: duckdb>=0.4.0 in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from duckdb-engine) (0.8.1)
Requirement already satisfied: sqlalchemy>=1.3.22 in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from duckdb-engine) (2.0.20)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/emiliopugnaloni/.local/lib/python3.10/site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (2.0.2)

Configuramos el entorno de ejecuci√≥n. Si ya tiene todo instalado, solo necesita ejecutar esta celda para empezar a usar **duckdb**

In [8]:
import duckdb
import pandas as pd

%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:////content/dmeyf.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

RuntimeError: (duckdb.IOException) IO Error: Cannot open file "/content/dmeyf.db": No such file or directory
(Background on this error at: https://sqlalche.me/e/20/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

Para cargar el archivo `.csv` a una tabla:

In [6]:
%%sql
create or replace table competencia_02 as 
select 
    *
from read_csv_auto('/content/competencia_02_crudo.csv.gz')

UsageError: No active connection.

To fix it:

Pass a valid connection string:
    Example: %sql postgresql://username:password@hostname/dbname

OR

Set the environment variable $DATABASE_URL

For more details, see: https://jupysql.ploomber.io/en/latest/connecting.html
If you need help solving this issue, send us a message: https://ploomber.io/community

In [7]:
%%sql
select *
from competencia_02
limit 10

UsageError: No active connection.

To fix it:

Pass a valid connection string:
    Example: %sql postgresql://username:password@hostname/dbname

OR

Set the environment variable $DATABASE_URL

For more details, see: https://jupysql.ploomber.io/en/latest/connecting.html
If you need help solving this issue, send us a message: https://ploomber.io/community

In [6]:
%%sql
select 
    foto_mes
    , count(*) as cantidad -- cuenta cuantos casos hay en cada foto_mes 
                           -- y lo guarda en un campo llamado cantidad
from competencia_02
group by foto_mes

    foto_mes  cantidad
0     201901    124864
1     201902    125898
2     201903    126536
3     201904    127059
4     201905    127683
5     201906    129181
6     201907    130551
7     201908    132615
8     201909    134267
9     201910    136515
10    201911    138438
11    201912    140468
12    202001    143762
13    202002    146851
14    202003    148989
15    202004    149484
16    202005    150874
17    202006    153386
18    202007    155348
19    202008    156667
20    202009    158031
21    202010    159477
22    202011    160493
23    202012    161133
24    202101    161711
25    202102    162364
26    202103    163324
27    202104    163637
28    202105    164102
29    202106    164420
30    202107    164682

Perfecto, ahora cree una nueva tabla con la variable adicional que se le pide. Algunas funciones que le pueden ser √∫tiles:  [where](https://duckdb.org/docs/sql/query_syntax/where), [left join](https://duckdb.org/docs/sql/query_syntax/from), [case statement](https://duckdb.org/docs/sql/expressions/case)

In [7]:
%%sql

create or replace table targets as
with periodos as (
    select distinct foto_mes from competencia_02
), clientes as (
    select distinct numero_de_cliente from competencia_02
), todo as (
    select numero_de_cliente, foto_mes from clientes cross join periodos
), clase_ternaria as (
    select
        t.numero_de_cliente
        , t.foto_mes
        , if(c.numero_de_cliente is null, 0, 1) as mes_0 --si en el mes no hay una foto para el cliente, devuelve 0
        , lead(mes_0, 1) over (partition by t.numero_de_cliente order by foto_mes) as mes_1
        , lead(mes_0, 2) over (partition by t.numero_de_cliente order by foto_mes) as mes_2
        , CASE WHEN foto_mes >=202106 THEN '' 
            WHEN mes_1 = 0 THEN 'BAJA+1'
            WHEN mes_2 = 0 THEN 'BAJA+2'
            ELSE 'CONTINUA' END as clase_ternaria

    from todo t
    left join competencia_02 c using (numero_de_cliente, foto_mes)
) select
  foto_mes
  , numero_de_cliente
  , clase_ternaria
  , mes_1
  , mes_2
from clase_ternaria where mes_0 = 1 --nos quedamos solo en los que cruzaron todos vs dataset_competencia
;


alter table competencia_02 add column clase_ternaria VARCHAR(10)
;

update competencia_02
set clase_ternaria = targets.clase_ternaria
from targets
where competencia_02.numero_de_cliente = targets.numero_de_cliente and competencia_02.foto_mes = targets.foto_mes;
;

Empty DataFrame
Columns: [Success]
Index: []

In [8]:
%%sql

SELECT foto_mes, COUNT(*) cant, SUM(CASE WHEN clase_ternaria='BAJA+2' THEN 1 ELSE 0 END) cant_baja_mas_2,  ROUND(AVG(CASE WHEN clase_ternaria='BAJA+2' THEN 1 ELSE 0 END)*100,1) prop_baja_mas_2
FROM competencia_02
GROUP BY foto_mes

    foto_mes    cant  cant_baja_mas_2  prop_baja_mas_2
0     201901  124864            732.0              0.6
1     201902  125898            698.0              0.6
2     201903  126536            747.0              0.6
3     201904  127059            529.0              0.4
4     201905  127683            690.0              0.5
5     201906  129181            595.0              0.5
6     201907  130551            638.0              0.5
7     201908  132615            581.0              0.4
8     201909  134267            556.0              0.4
9     201910  136515            653.0              0.5
10    201911  138438            759.0              0.5
11    201912  140468            629.0              0.4
12    202001  143762            541.0              0.4
13    202002  146851            217.0              0.1
14    202003  148989            385.0              0.3
15    202004  149484            516.0              0.3
16    202005  150874            647.0              0.4
17    202006  153386            644.0              0.4
18    202007  155348            540.0              0.3
19    202008  156667            471.0              0.3
20    202009  158031            559.0              0.4
21    202010  159477            530.0              0.3
22    202011  160493            615.0              0.4
23    202012  161133            628.0              0.4
24    202101  161711            806.0              0.5
25    202102  162364           1042.0              0.6
26    202103  163324            963.0              0.6
27    202104  163637           1172.0              0.7
28    202105  164102            904.0              0.6
29    202106  164420              0.0              0.0
30    202107  164682              0.0              0.0

# FEATURE ENGINEERING

In [9]:
%%sql
select * from competencia_02 limit 10

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,29183981,201901,1,0,1,48,171,8304.31,42993.54,2501.04,...,8,0.00,-35773.32,2.33,5148,36602.13,54,0,5008.71,CONTINUA
1,29184630,201901,1,0,1,57,296,18318.76,42597.26,14986.76,...,1,0.00,-67414.82,1149.57,3299,28503.06,10,0,1395.87,CONTINUA
2,29185587,201901,1,0,1,77,296,20862.84,85481.31,4228.40,...,1,0.00,0.00,0.00,6790,5170.25,2,0,0.00,CONTINUA
3,29185646,201901,1,0,1,58,231,25218.94,165317.78,4474.25,...,22,69653.59,-59422.00,0.00,7037,67991.90,31,0,2897.31,CONTINUA
4,29187499,201901,1,0,1,69,349,5307.54,32374.08,4706.22,...,8,0.00,-4802.21,0.00,7596,4851.93,3,0,492.66,CONTINUA
5,29188277,201901,1,0,1,65,296,1672.70,16113.26,796.59,...,1,0.00,-5791.17,0.00,7827,12539.39,6,0,797.64,CONTINUA
6,29188490,201901,1,0,1,43,281,-520.87,6116.69,2138.32,...,8,9172.86,-29810.71,0.00,7568,73132.65,41,0,9172.86,CONTINUA
7,29188883,201901,1,0,1,64,296,64862.09,459723.16,988.28,...,8,0.00,-1332.76,0.00,7504,1102.50,1,0,58.65,CONTINUA
8,29189950,201901,1,0,1,56,240,13535.41,41250.39,7158.16,...,1,0.00,-20419.25,66.25,3717,27701.56,19,0,1137.81,CONTINUA
9,29190599,201901,1,0,1,59,296,2244.16,24670.53,113.76,...,22,8727.12,-16718.98,37.05,7137,1388.73,2,0,1219.92,CONTINUA

## I - Correcion de Zeros - Ratio

Se va a eliminar el mes 202006 y se van a corregir las variables que tienen errores en los otros meses

In [10]:
%%sql

create or replace table competencia_02_i1 as

select *,
    CASE WHEN (foto_mes in (201905, 201910, 202006) AND mrentabilidad_annual=0) then (lag(mrentabilidad_annual,1) over ventana + lag(mrentabilidad_annual,-1) over ventana)/2 ELSE mrentabilidad_annual END AS mrentabilidad_annual_,
    CASE WHEN (foto_mes in (201905, 201910, 202006) AND mcomisiones=0) then (lag(mcomisiones,1) over ventana + lag(mcomisiones,-1) over ventana)/2 ELSE mcomisiones END AS mcomisiones_,
    CASE WHEN (foto_mes in (201905, 201910, 202006) AND mactivos_margen=0) then (lag(mactivos_margen,1) over ventana + lag(mactivos_margen,-1) over ventana)/2 ELSE mactivos_margen END AS mactivos_margen_,
    CASE WHEN (foto_mes in (201905, 201910, 202006) AND mpasivos_margen=0) then (lag(mpasivos_margen,1) over ventana + lag(mpasivos_margen,-1) over ventana)/2 ELSE mpasivos_margen END AS mpasivos_margen_,
    CASE WHEN (foto_mes in (201905, 201910, 202006) AND ccomisiones_otras=0) then (lag(ccomisiones_otras,1) over ventana + lag(ccomisiones_otras,-1) over ventana)/2 ELSE ccomisiones_otras END AS ccomisiones_otras_,
    CASE WHEN (foto_mes in (201904) AND ctarjeta_visa_debitos_automaticos=0) then (lag(ctarjeta_visa_debitos_automaticos,1) over ventana + lag(ctarjeta_visa_debitos_automaticos,-1) over ventana)/2 ELSE ctarjeta_visa_debitos_automaticos END AS ctarjeta_visa_debitos_automaticos_,
    CASE WHEN (foto_mes in (201904) AND mttarjeta_visa_debitos_automaticos=0) then (lag(mttarjeta_visa_debitos_automaticos,1) over ventana + lag(mttarjeta_visa_debitos_automaticos,-1) over ventana)/2 ELSE mttarjeta_visa_debitos_automaticos END AS mttarjeta_visa_debitos_automaticos_  
from competencia_02
window ventana as (partition by numero_de_cliente order by foto_mes)
;

Empty DataFrame
Columns: [Success]
Index: []

In [11]:
%%sql

DROP TABLE competencia_02;
ALTER TABLE competencia_02_i1 DROP mrentabilidad_annual;
ALTER TABLE competencia_02_i1 DROP mcomisiones;
ALTER TABLE competencia_02_i1 DROP mactivos_margen;
ALTER TABLE competencia_02_i1 DROP mpasivos_margen;
ALTER TABLE competencia_02_i1 DROP ccomisiones_otras;
ALTER TABLE competencia_02_i1 DROP ctarjeta_visa_debitos_automaticos;
ALTER TABLE competencia_02_i1 DROP mttarjeta_visa_debitos_automaticos;

Empty DataFrame
Columns: [Success]
Index: []

## II - Variables InterMes

In [12]:
%%sql

CREATE MACRO suma_sin_null(a, b) AS ifnull(a, 0) + ifnull(b, 0);
CREATE MACRO resta_sin_null(a, b) AS ifnull(a, 0) - ifnull(b, 0);
CREATE MACRO DivisionPorCero(a, b) AS  CASE WHEN b = 0 THEN null ELSE ifnull(a,0) / b  END;

Empty DataFrame
Columns: [Success]
Index: []

In [13]:
%%sql

create or replace table competencia_02_i2 as

WITH Feature_enginering as(

select *, 

    -- VISA + MASTERCARD  (MAXIMOS Y MINIMOS)

    greatest(Master_delinquency, Visa_delinquency) as tc_delinquency,
    greatest(Master_status, Visa_status) as tc_status_mayor,
    least(Master_status, Visa_status) as tc_status_menor,
    greatest(Master_mfinanciacion_limite, Visa_mfinanciacion_limite) as tc_mfinanciacion_mayor,
    least(Master_mfinanciacion_limite, Visa_mfinanciacion_limite) as tc_mfinanciacion_menor,    
    greatest(Master_Fvencimiento, Visa_Fvencimiento) as tc_fvencimiento_mayor,
    least(Master_Fvencimiento, Visa_Fvencimiento) as tc_fvencimiento_menor,  
    greatest(Master_Finiciomora, Visa_Finiciomora) as tc_Finiciomora_mayor ,	
    least(Master_Finiciomora, Visa_Finiciomora) as tc_Finiciomora_menor ,
    greatest(Master_mlimitecompra, Visa_mlimitecompra) as tc_mlimitecompra_mayor ,	
    least(Master_mlimitecompra, Visa_mlimitecompra) as tc_mlimitecompra_menor ,
    greatest(Master_fultimo_cierre, Visa_fultimo_cierre) as tc_fultimo_cierre_mayor ,	
    least(Master_fultimo_cierre, Visa_fultimo_cierre) as tc_fultimo_cierre_menor ,
     greatest(Master_fechaalta, Visa_fechaalta) as tc_fechaalta_mayor ,	
    least(Master_fechaalta, Visa_fechaalta) as tc_fechaalta_menor ,
    greatest(Master_mpagominimo, Visa_mpagominimo) as tc_mpagominimo_mayor ,	
    least(Master_mpagominimo, Visa_mpagominimo) as tc_mpagominimo_menor,   

    -- VISA + MASTERCARD (SUMAS)
    suma_sin_null(Visa_mfinanciacion_limite, Master_mfinanciacion_limite) AS tc_mfinanciacion_limite_suma,
    suma_sin_null(Visa_msaldototal, Master_msaldototal) AS tc_msaldototal_suma,
    suma_sin_null(Visa_msaldopesos, Master_msaldopesos) AS tc_msaldopesos_suma,
    suma_sin_null(Visa_msaldodolares, Master_msaldodolares) AS tc_msaldodolares_suma,
    suma_sin_null(Visa_mconsumospesos, Master_mconsumospesos) AS tc_mconsumospesos_suma,
    suma_sin_null(Visa_mconsumosdolares, Master_mconsumosdolares) AS tc_mconsumosdolares_suma,
    suma_sin_null(Visa_mlimitecompra, Master_mlimitecompra) AS tc_mlimitecompra_suma,
    suma_sin_null(Visa_madelantopesos, Master_madelantopesos) AS tc_madelantopesos_suma,
    suma_sin_null(Visa_madelantodolares, Master_madelantodolares) AS tc_madelantodolares_suma,
    suma_sin_null(Visa_mpagado, Master_mpagado) AS tc_mpagado_suma,
    suma_sin_null(Visa_mpagospesos, Master_mpagospesos) AS tc_mpagospesos_suma,
    suma_sin_null(Visa_mpagosdolares, Master_mpagosdolares) AS tc_mpagosdolares_suma,
    suma_sin_null(Visa_mconsumototal, Master_mconsumototal) AS tc_mconsumototal_suma,
    suma_sin_null(Visa_cconsumos, Master_cconsumos) AS tc_cconsumos_suma,
    suma_sin_null(Visa_cadelantosefectivo, Master_cadelantosefectivo) AS tc_cadelantosefectivo_suma,
    suma_sin_null(Visa_mpagominimo, Master_mpagominimo) AS tc_mpagominimo_suma,


    -- OTRAS SUMAS y RESTAS
    suma_sin_null(mpasivos_margen_, mactivos_margen_) AS m_margen_suma,
    suma_sin_null(ccuenta_corriente, ccaja_ahorro) AS c_ccorrientes_cahorro_suma,
    suma_sin_null(mcuenta_corriente, mcuenta_corriente_adicional) AS m_ccorrientes_suma,
    suma_sin_null(mcaja_ahorro, mcaja_ahorro_adicional) AS m_cahorro_suma,
    suma_sin_null(ctarjeta_visa, ctarjeta_master) AS c_tarjetas_suma,
    suma_sin_null(ctarjeta_visa_transacciones, ctarjeta_master_transacciones) AS  c_tarjetas_transacciones_suma,
    suma_sin_null(mtarjeta_visa_consumo, mtarjeta_master_consumo) AS  mtarjetas_consumo_suma,

    suma_sin_null(cprestamos_prendarios, suma_sin_null(cprestamos_personales, cprestamos_hipotecarios)) AS  cprestamos_suma,
    suma_sin_null(mprestamos_personales, suma_sin_null(mprestamos_prendarios, mprestamos_hipotecarios)) AS  mprestamos_suma,

    suma_sin_null(mplazo_fijo_dolares, mplazo_fijo_dolares) AS mplazo_fijo_suma,
    suma_sin_null(minversion1_pesos, suma_sin_null(minversion1_dolares, minversion2)) AS  minversion_suma,
    suma_sin_null(cseguro_vida,suma_sin_null(cseguro_auto, suma_sin_null(cseguro_vivienda, cseguro_accidentes_personales))) AS  cseguro_suma,

    suma_sin_null(mpayroll, mpayroll2) AS mpayroll_suma,
    suma_sin_null(ccuenta_debitos_automaticos, suma_sin_null(ctarjeta_visa_debitos_automaticos_, ctarjeta_master_debitos_automaticos)) AS  c_debitos_automaticos_suma,
    suma_sin_null(mcuenta_debitos_automaticos, suma_sin_null(mttarjeta_visa_debitos_automaticos_, mttarjeta_master_debitos_automaticos)) AS  m_debitos_automaticos_suma,

    suma_sin_null(mcajeros_propios_descuentos, suma_sin_null(mtarjeta_visa_descuentos, mtarjeta_master_descuentos)) AS  m_descuentos_suma,
    suma_sin_null(mcomisiones_mantenimiento, mcomisiones_otras) AS mcomisiones_suma,
   
    suma_sin_null(ctransferencias_recibidas, ctransferencias_emitidas) AS ctransferencias_suma,
    resta_sin_null(ctransferencias_recibidas, ctransferencias_emitidas) AS ctransferencias_resta,
    resta_sin_null(mtransferencias_recibidas, mtransferencias_emitidas) AS mtransferencias_resta,

    suma_sin_null(mtransferencias_emitidas, mextraccion_autoservicio) AS m_extracciones_transf_suma,
    mpayroll+ mpayroll2+mcajeros_propios_descuentos+suma_sin_null(mtarjeta_visa_descuentos,mtarjeta_master_descuentos)+mtransferencias_recibidas+mcheques_depositados AS m_movimientos_positivos_suma,
    mautoservicio+mtarjeta_visa_consumo+mtarjeta_master_consumo+mcuenta_debitos_automaticos+mttarjeta_visa_debitos_automaticos_+mttarjeta_master_debitos_automaticos+mpagodeservicios+mpagomiscuentas+mcomisiones_mantenimiento+mcomisiones_otras+mtransferencias_emitidas+mextraccion_autoservicio+mcheques_emitidos AS m_movimientos_negativos_suma

 from competencia_02_i1

)

select *,
    DivisionPorCero(Visa_mconsumototal, Visa_mlimitecompra)*100 Visa_consumo_div_limite,
    DivisionPorCero(Master_mconsumototal, Master_mlimitecompra)*100 Master_consumo_div_limite,
    DivisionPorCero(tc_mconsumototal_suma, tc_mlimitecompra_suma)*100 tc_consumo_div_limite,
    DivisionPorCero(tc_mconsumototal_suma, tc_msaldototal_suma)*100 tc_consumo_div_saldo,
    DivisionPorCero(tc_mpagado_suma, tc_msaldototal_suma)*100 tc_pagado_div_saldo,

    DivisionPorCero(mprestamos_suma, mcuentas_saldo)*100 prestamos_saldo_div,    
    DivisionPorCero(m_descuentos_suma, mcuentas_saldo)*100 descuentos_saldo_div,    
    DivisionPorCero(mcomisiones_suma, mcuentas_saldo)*100 comisiones_saldo_div, 

    DivisionPorCero(m_extracciones_transf_suma, mcuentas_saldo)*100 extracciones_saldo_div, 
    DivisionPorCero(m_movimientos_negativos_suma, mcuentas_saldo)*100 mnegativos_saldo_div, 
    DivisionPorCero(m_movimientos_negativos_suma, m_movimientos_positivos_suma)*100 mpositivos_negativos_div
FROM Feature_enginering
WHERE foto_mes <> 202006

Empty DataFrame
Columns: [Success]
Index: []

In [14]:
%%sql

DROP TABLE competencia_02_i1;

Empty DataFrame
Columns: [Success]
Index: []

# III - Drifting de Variables Numericas (Monto) 
Tambien sumo la de Antiguedad del cliente

In [15]:
%%sql

create or replace table competencia_02_i3 as

SELECT *,
    
    percent_rank() over (partition by foto_mes order by cliente_antiguedad) as cliente_antiguedad_perc,
    percent_rank() over (partition by foto_mes order by mrentabilidad) as mrentabilidad_perc,
    percent_rank() over (partition by foto_mes order by mrentabilidad_annual_) as mrentabilidad_annual__perc,
    percent_rank() over (partition by foto_mes order by mcomisiones_) as mcomisiones__perc,
    percent_rank() over (partition by foto_mes order by mactivos_margen_) as mactivos_margen__perc,
    percent_rank() over (partition by foto_mes order by mpasivos_margen_) as mpasivos_margen__perc,
    percent_rank() over (partition by foto_mes order by mcuenta_corriente_adicional) as mcuenta_corriente_adicional_perc,
    percent_rank() over (partition by foto_mes order by mcuenta_corriente) as mcuenta_corriente_perc,
    percent_rank() over (partition by foto_mes order by mcaja_ahorro) as mcaja_ahorro_perc,
    percent_rank() over (partition by foto_mes order by mcaja_ahorro_adicional) as mcaja_ahorro_adicional_perc,
    percent_rank() over (partition by foto_mes order by mcaja_ahorro_dolares) as mcaja_ahorro_dolares_perc,
    percent_rank() over (partition by foto_mes order by mcuentas_saldo) as mcuentas_saldo_perc,
    percent_rank() over (partition by foto_mes order by mautoservicio) as mautoservicio_perc,
    percent_rank() over (partition by foto_mes order by mtarjeta_visa_consumo) as mtarjeta_visa_consumo_perc,
    percent_rank() over (partition by foto_mes order by mtarjeta_master_consumo) as mtarjeta_master_consumo_perc,
    percent_rank() over (partition by foto_mes order by mprestamos_personales) as mprestamos_personales_perc,
    percent_rank() over (partition by foto_mes order by mprestamos_prendarios) as mprestamos_prendarios_perc,
    percent_rank() over (partition by foto_mes order by mprestamos_hipotecarios) as mprestamos_hipotecarios_perc,
    percent_rank() over (partition by foto_mes order by mplazo_fijo_dolares) as mplazo_fijo_dolares_perc,
    percent_rank() over (partition by foto_mes order by mplazo_fijo_pesos) as mplazo_fijo_pesos_perc,
    percent_rank() over (partition by foto_mes order by minversion1_pesos) as minversion1_pesos_perc,
    percent_rank() over (partition by foto_mes order by minversion1_dolares) as minversion1_dolares_perc,
    percent_rank() over (partition by foto_mes order by minversion2) as minversion2_perc,
    percent_rank() over (partition by foto_mes order by mpayroll) as mpayroll_perc,
    percent_rank() over (partition by foto_mes order by mpayroll2) as mpayroll2_perc,
    percent_rank() over (partition by foto_mes order by mcuenta_debitos_automaticos) as mcuenta_debitos_automaticos_perc,
    percent_rank() over (partition by foto_mes order by mttarjeta_visa_debitos_automaticos_) as mtarjeta_visa_debitos_automaticos__perc,
    percent_rank() over (partition by foto_mes order by mttarjeta_master_debitos_automaticos) as mttarjeta_master_debitos_automaticos_perc,
    percent_rank() over (partition by foto_mes order by mpagodeservicios) as mpagodeservicios_perc,
    percent_rank() over (partition by foto_mes order by mpagomiscuentas) as mpagomiscuentas_perc,
    percent_rank() over (partition by foto_mes order by mcajeros_propios_descuentos) as mcajeros_propios_descuentos_perc,
    percent_rank() over (partition by foto_mes order by mtarjeta_visa_descuentos) as mtarjeta_visa_descuentos_perc,
    percent_rank() over (partition by foto_mes order by mtarjeta_master_descuentos) as mtarjeta_master_descuentos_perc,
    percent_rank() over (partition by foto_mes order by mcomisiones_mantenimiento) as mcomisiones_mantenimiento_perc,
    percent_rank() over (partition by foto_mes order by mcomisiones_otras) as mcomisiones_otras_perc,
    percent_rank() over (partition by foto_mes order by mforex_buy) as mforex_buy_perc,
    percent_rank() over (partition by foto_mes order by mforex_sell) as mforex_sell_perc,
    percent_rank() over (partition by foto_mes order by mtransferencias_recibidas) as mtransferencias_recibidas_perc,
    percent_rank() over (partition by foto_mes order by mtransferencias_emitidas) as mtransferencias_emitidas_perc,
    percent_rank() over (partition by foto_mes order by mextraccion_autoservicio) as mextraccion_autoservicio_perc,
    percent_rank() over (partition by foto_mes order by mcheques_depositados) as mcheques_depositados_perc,
    percent_rank() over (partition by foto_mes order by mcheques_emitidos) as mcheques_emitidos_perc,
    percent_rank() over (partition by foto_mes order by mcheques_depositados_rechazados) as mcheques_depositados_rechazados_perc,
    percent_rank() over (partition by foto_mes order by mcheques_emitidos_rechazados) as mcheques_emitidos_rechazados_perc,
    percent_rank() over (partition by foto_mes order by matm) as matm_perc,
    percent_rank() over (partition by foto_mes order by matm_other) as matm_other_perc,
    percent_rank() over (partition by foto_mes order by Master_mfinanciacion_limite) as Master_mfinanciacion_limite_perc,
    percent_rank() over (partition by foto_mes order by Master_msaldototal) as Master_msaldototal_perc,
    percent_rank() over (partition by foto_mes order by Master_msaldopesos) as Master_msaldopesos_perc,
    percent_rank() over (partition by foto_mes order by Master_msaldodolares) as Master_msaldodolares_perc,
    percent_rank() over (partition by foto_mes order by Master_mconsumospesos) as Master_mconsumospesos_perc,
    percent_rank() over (partition by foto_mes order by Master_mconsumosdolares) as Master_mconsumosdolares_perc,
    percent_rank() over (partition by foto_mes order by Master_mlimitecompra) as Master_mlimitecompra_perc,
    percent_rank() over (partition by foto_mes order by Master_madelantopesos) as Master_madelantopesos_perc,
    percent_rank() over (partition by foto_mes order by Master_madelantodolares) as Master_madelantodolares_perc,
    percent_rank() over (partition by foto_mes order by Master_mpagado) as Master_mpagado_perc,
    percent_rank() over (partition by foto_mes order by Master_mpagospesos) as Master_mpagospesos_perc,
    percent_rank() over (partition by foto_mes order by Master_mpagosdolares) as Master_mpagosdolares_perc,
    percent_rank() over (partition by foto_mes order by Master_mconsumototal) as Master_mconsumototal_perc,
    percent_rank() over (partition by foto_mes order by Master_mpagominimo) as Master_mpagominimo_perc,
    percent_rank() over (partition by foto_mes order by Visa_mfinanciacion_limite) as Visa_mfinanciacion_limite_perc,
    percent_rank() over (partition by foto_mes order by Visa_msaldototal) as Visa_msaldototal_perc,
    percent_rank() over (partition by foto_mes order by Visa_msaldopesos) as Visa_msaldopesos_perc,
    percent_rank() over (partition by foto_mes order by Visa_msaldodolares) as Visa_msaldodolares_perc,
    percent_rank() over (partition by foto_mes order by Visa_mconsumospesos) as Visa_mconsumospesos_perc,
    percent_rank() over (partition by foto_mes order by Visa_mconsumosdolares) as Visa_mconsumosdolares_perc,
    percent_rank() over (partition by foto_mes order by Visa_mlimitecompra) as Visa_mlimitecompra_perc,
    percent_rank() over (partition by foto_mes order by Visa_madelantopesos) as Visa_madelantopesos_perc,
    percent_rank() over (partition by foto_mes order by Visa_madelantodolares) as Visa_madelantodolares_perc,
    percent_rank() over (partition by foto_mes order by Visa_mpagado) as Visa_mpagado_perc,
    percent_rank() over (partition by foto_mes order by Visa_mpagospesos) as Visa_mpagospesos_perc,
    percent_rank() over (partition by foto_mes order by Visa_mpagosdolares) as Visa_mpagosdolares_perc,
    percent_rank() over (partition by foto_mes order by Visa_mconsumototal) as Visa_mconsumototal_perc,
    percent_rank() over (partition by foto_mes order by Visa_mpagominimo) as Visa_mpagominimo_perc,
    percent_rank() over (partition by foto_mes order by tc_mfinanciacion_mayor) as tc_mfinanciacion_mayor_perc,
    percent_rank() over (partition by foto_mes order by tc_mfinanciacion_menor) as tc_mfinanciacion_menor_perc,
    percent_rank() over (partition by foto_mes order by tc_mlimitecompra_mayor) as tc_mlimitecompra_mayor_perc,
    percent_rank() over (partition by foto_mes order by tc_mlimitecompra_menor) as tc_mlimitecompra_menor_perc,
    percent_rank() over (partition by foto_mes order by tc_mpagominimo_mayor) as tc_mpagominimo_mayor_perc,
    percent_rank() over (partition by foto_mes order by tc_mpagominimo_menor) as tc_mpagominimo_menor_perc,
    percent_rank() over (partition by foto_mes order by tc_mfinanciacion_limite_suma) as tc_mfinanciacion_limite_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_msaldototal_suma) as tc_msaldototal_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_msaldopesos_suma) as tc_msaldopesos_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_msaldodolares_suma) as tc_msaldodolares_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_mconsumospesos_suma) as tc_mconsumospesos_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_mconsumosdolares_suma) as tc_mconsumosdolares_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_mlimitecompra_suma) as tc_mlimitecompra_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_madelantopesos_suma) as tc_madelantopesos_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_madelantodolares_suma) as tc_madelantodolares_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_mpagado_suma) as tc_mpagado_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_mpagospesos_suma) as tc_mpagospesos_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_mpagosdolares_suma) as tc_mpagosdolares_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_mconsumototal_suma) as tc_mconsumototal_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_mpagominimo_suma) as tc_mpagominimo_suma_perc,
    percent_rank() over (partition by foto_mes order by m_margen_suma) as m_margen_suma_perc,
    percent_rank() over (partition by foto_mes order by m_ccorrientes_suma) as m_ccorrientes_suma_perc,
    percent_rank() over (partition by foto_mes order by m_cahorro_suma) as m_cahorro_suma_perc,
    percent_rank() over (partition by foto_mes order by mtarjetas_consumo_suma) as mtarjetas_consumo_suma_perc,
    percent_rank() over (partition by foto_mes order by mprestamos_suma) as mprestamos_suma_perc,
    percent_rank() over (partition by foto_mes order by mplazo_fijo_suma) as mplazo_fijo_suma_perc,
    percent_rank() over (partition by foto_mes order by minversion_suma) as minversion_suma_perc,
    percent_rank() over (partition by foto_mes order by mpayroll_suma) as mpayroll_suma_perc,
    percent_rank() over (partition by foto_mes order by m_debitos_automaticos_suma) as m_debitos_automaticos_suma_perc,
    percent_rank() over (partition by foto_mes order by m_descuentos_suma) as m_descuentos_suma_perc,
    percent_rank() over (partition by foto_mes order by mcomisiones_suma) as mcomisiones_suma_perc,
    percent_rank() over (partition by foto_mes order by mtransferencias_resta) as mtransferencias_resta_perc,
    percent_rank() over (partition by foto_mes order by m_extracciones_transf_suma) as m_extracciones_transf_suma_perc,
    percent_rank() over (partition by foto_mes order by m_movimientos_positivos_suma) as m_movimientos_positivos_suma_perc,
    percent_rank() over (partition by foto_mes order by m_movimientos_negativos_suma) as m_movimientos_negativos_suma_perc,
    percent_rank() over (partition by foto_mes order by Visa_consumo_div_limite) as Visa_consumo_div_limite_perc,
    percent_rank() over (partition by foto_mes order by Master_consumo_div_limite) as Master_consumo_div_limite_perc,
    percent_rank() over (partition by foto_mes order by tc_consumo_div_limite) as tc_consumo_div_limite_perc,
    percent_rank() over (partition by foto_mes order by tc_consumo_div_saldo) as tc_consumo_div_saldo_perc,
    percent_rank() over (partition by foto_mes order by tc_pagado_div_saldo) as tc_pagado_div_saldo_perc,
    percent_rank() over (partition by foto_mes order by prestamos_saldo_div) as prestamos_saldo_div_perc,
    percent_rank() over (partition by foto_mes order by descuentos_saldo_div) as descuentos_saldo_div_perc,
    percent_rank() over (partition by foto_mes order by comisiones_saldo_div) as comisiones_saldo_div_perc,
    percent_rank() over (partition by foto_mes order by extracciones_saldo_div) as extracciones_saldo_div_perc,
    percent_rank() over (partition by foto_mes order by mpositivos_negativos_div) as mpositivos_negativos_div_perc

FROM competencia_02_i2

RuntimeError: (duckdb.IOException) IO Error: Could not write file ".tmp\duckdb_temp_block-4611686018428655857.block" (error in WriteFile): Espacio en disco insuficiente.

[SQL: create or replace table competencia_02_i3 as

SELECT *,

    percent_rank() over (partition by foto_mes order by cliente_antiguedad) as cliente_antiguedad_perc,
    percent_rank() over (partition by foto_mes order by mrentabilidad) as mrentabilidad_perc,
    percent_rank() over (partition by foto_mes order by mrentabilidad_annual_) as mrentabilidad_annual__perc,
    percent_rank() over (partition by foto_mes order by mcomisiones_) as mcomisiones__perc,
    percent_rank() over (partition by foto_mes order by mactivos_margen_) as mactivos_margen__perc,
    percent_rank() over (partition by foto_mes order by mpasivos_margen_) as mpasivos_margen__perc,
    percent_rank() over (partition by foto_mes order by mcuenta_corriente_adicional) as mcuenta_corriente_adicional_perc,
    percent_rank() over (partition by foto_mes order by mcuenta_corriente) as mcuenta_corriente_perc,
    percent_rank() over (partition by foto_mes order by mcaja_ahorro) as mcaja_ahorro_perc,
    percent_rank() over (partition by foto_mes order by mcaja_ahorro_adicional) as mcaja_ahorro_adicional_perc,
    percent_rank() over (partition by foto_mes order by mcaja_ahorro_dolares) as mcaja_ahorro_dolares_perc,
    percent_rank() over (partition by foto_mes order by mcuentas_saldo) as mcuentas_saldo_perc,
    percent_rank() over (partition by foto_mes order by mautoservicio) as mautoservicio_perc,
    percent_rank() over (partition by foto_mes order by mtarjeta_visa_consumo) as mtarjeta_visa_consumo_perc,
    percent_rank() over (partition by foto_mes order by mtarjeta_master_consumo) as mtarjeta_master_consumo_perc,
    percent_rank() over (partition by foto_mes order by mprestamos_personales) as mprestamos_personales_perc,
    percent_rank() over (partition by foto_mes order by mprestamos_prendarios) as mprestamos_prendarios_perc,
    percent_rank() over (partition by foto_mes order by mprestamos_hipotecarios) as mprestamos_hipotecarios_perc,
    percent_rank() over (partition by foto_mes order by mplazo_fijo_dolares) as mplazo_fijo_dolares_perc,
    percent_rank() over (partition by foto_mes order by mplazo_fijo_pesos) as mplazo_fijo_pesos_perc,
    percent_rank() over (partition by foto_mes order by minversion1_pesos) as minversion1_pesos_perc,
    percent_rank() over (partition by foto_mes order by minversion1_dolares) as minversion1_dolares_perc,
    percent_rank() over (partition by foto_mes order by minversion2) as minversion2_perc,
    percent_rank() over (partition by foto_mes order by mpayroll) as mpayroll_perc,
    percent_rank() over (partition by foto_mes order by mpayroll2) as mpayroll2_perc,
    percent_rank() over (partition by foto_mes order by mcuenta_debitos_automaticos) as mcuenta_debitos_automaticos_perc,
    percent_rank() over (partition by foto_mes order by mttarjeta_visa_debitos_automaticos_) as mtarjeta_visa_debitos_automaticos__perc,
    percent_rank() over (partition by foto_mes order by mttarjeta_master_debitos_automaticos) as mttarjeta_master_debitos_automaticos_perc,
    percent_rank() over (partition by foto_mes order by mpagodeservicios) as mpagodeservicios_perc,
    percent_rank() over (partition by foto_mes order by mpagomiscuentas) as mpagomiscuentas_perc,
    percent_rank() over (partition by foto_mes order by mcajeros_propios_descuentos) as mcajeros_propios_descuentos_perc,
    percent_rank() over (partition by foto_mes order by mtarjeta_visa_descuentos) as mtarjeta_visa_descuentos_perc,
    percent_rank() over (partition by foto_mes order by mtarjeta_master_descuentos) as mtarjeta_master_descuentos_perc,
    percent_rank() over (partition by foto_mes order by mcomisiones_mantenimiento) as mcomisiones_mantenimiento_perc,
    percent_rank() over (partition by foto_mes order by mcomisiones_otras) as mcomisiones_otras_perc,
    percent_rank() over (partition by foto_mes order by mforex_buy) as mforex_buy_perc,
    percent_rank() over (partition by foto_mes order by mforex_sell) as mforex_sell_perc,
    percent_rank() over (partition by foto_mes order by mtransferencias_recibidas) as mtransferencias_recibidas_perc,
    percent_rank() over (partition by foto_mes order by mtransferencias_emitidas) as mtransferencias_emitidas_perc,
    percent_rank() over (partition by foto_mes order by mextraccion_autoservicio) as mextraccion_autoservicio_perc,
    percent_rank() over (partition by foto_mes order by mcheques_depositados) as mcheques_depositados_perc,
    percent_rank() over (partition by foto_mes order by mcheques_emitidos) as mcheques_emitidos_perc,
    percent_rank() over (partition by foto_mes order by mcheques_depositados_rechazados) as mcheques_depositados_rechazados_perc,
    percent_rank() over (partition by foto_mes order by mcheques_emitidos_rechazados) as mcheques_emitidos_rechazados_perc,
    percent_rank() over (partition by foto_mes order by matm) as matm_perc,
    percent_rank() over (partition by foto_mes order by matm_other) as matm_other_perc,
    percent_rank() over (partition by foto_mes order by Master_mfinanciacion_limite) as Master_mfinanciacion_limite_perc,
    percent_rank() over (partition by foto_mes order by Master_msaldototal) as Master_msaldototal_perc,
    percent_rank() over (partition by foto_mes order by Master_msaldopesos) as Master_msaldopesos_perc,
    percent_rank() over (partition by foto_mes order by Master_msaldodolares) as Master_msaldodolares_perc,
    percent_rank() over (partition by foto_mes order by Master_mconsumospesos) as Master_mconsumospesos_perc,
    percent_rank() over (partition by foto_mes order by Master_mconsumosdolares) as Master_mconsumosdolares_perc,
    percent_rank() over (partition by foto_mes order by Master_mlimitecompra) as Master_mlimitecompra_perc,
    percent_rank() over (partition by foto_mes order by Master_madelantopesos) as Master_madelantopesos_perc,
    percent_rank() over (partition by foto_mes order by Master_madelantodolares) as Master_madelantodolares_perc,
    percent_rank() over (partition by foto_mes order by Master_mpagado) as Master_mpagado_perc,
    percent_rank() over (partition by foto_mes order by Master_mpagospesos) as Master_mpagospesos_perc,
    percent_rank() over (partition by foto_mes order by Master_mpagosdolares) as Master_mpagosdolares_perc,
    percent_rank() over (partition by foto_mes order by Master_mconsumototal) as Master_mconsumototal_perc,
    percent_rank() over (partition by foto_mes order by Master_mpagominimo) as Master_mpagominimo_perc,
    percent_rank() over (partition by foto_mes order by Visa_mfinanciacion_limite) as Visa_mfinanciacion_limite_perc,
    percent_rank() over (partition by foto_mes order by Visa_msaldototal) as Visa_msaldototal_perc,
    percent_rank() over (partition by foto_mes order by Visa_msaldopesos) as Visa_msaldopesos_perc,
    percent_rank() over (partition by foto_mes order by Visa_msaldodolares) as Visa_msaldodolares_perc,
    percent_rank() over (partition by foto_mes order by Visa_mconsumospesos) as Visa_mconsumospesos_perc,
    percent_rank() over (partition by foto_mes order by Visa_mconsumosdolares) as Visa_mconsumosdolares_perc,
    percent_rank() over (partition by foto_mes order by Visa_mlimitecompra) as Visa_mlimitecompra_perc,
    percent_rank() over (partition by foto_mes order by Visa_madelantopesos) as Visa_madelantopesos_perc,
    percent_rank() over (partition by foto_mes order by Visa_madelantodolares) as Visa_madelantodolares_perc,
    percent_rank() over (partition by foto_mes order by Visa_mpagado) as Visa_mpagado_perc,
    percent_rank() over (partition by foto_mes order by Visa_mpagospesos) as Visa_mpagospesos_perc,
    percent_rank() over (partition by foto_mes order by Visa_mpagosdolares) as Visa_mpagosdolares_perc,
    percent_rank() over (partition by foto_mes order by Visa_mconsumototal) as Visa_mconsumototal_perc,
    percent_rank() over (partition by foto_mes order by Visa_mpagominimo) as Visa_mpagominimo_perc,
    percent_rank() over (partition by foto_mes order by tc_mfinanciacion_mayor) as tc_mfinanciacion_mayor_perc,
    percent_rank() over (partition by foto_mes order by tc_mfinanciacion_menor) as tc_mfinanciacion_menor_perc,
    percent_rank() over (partition by foto_mes order by tc_mlimitecompra_mayor) as tc_mlimitecompra_mayor_perc,
    percent_rank() over (partition by foto_mes order by tc_mlimitecompra_menor) as tc_mlimitecompra_menor_perc,
    percent_rank() over (partition by foto_mes order by tc_mpagominimo_mayor) as tc_mpagominimo_mayor_perc,
    percent_rank() over (partition by foto_mes order by tc_mpagominimo_menor) as tc_mpagominimo_menor_perc,
    percent_rank() over (partition by foto_mes order by tc_mfinanciacion_limite_suma) as tc_mfinanciacion_limite_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_msaldototal_suma) as tc_msaldototal_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_msaldopesos_suma) as tc_msaldopesos_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_msaldodolares_suma) as tc_msaldodolares_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_mconsumospesos_suma) as tc_mconsumospesos_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_mconsumosdolares_suma) as tc_mconsumosdolares_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_mlimitecompra_suma) as tc_mlimitecompra_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_madelantopesos_suma) as tc_madelantopesos_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_madelantodolares_suma) as tc_madelantodolares_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_mpagado_suma) as tc_mpagado_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_mpagospesos_suma) as tc_mpagospesos_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_mpagosdolares_suma) as tc_mpagosdolares_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_mconsumototal_suma) as tc_mconsumototal_suma_perc,
    percent_rank() over (partition by foto_mes order by tc_mpagominimo_suma) as tc_mpagominimo_suma_perc,
    percent_rank() over (partition by foto_mes order by m_margen_suma) as m_margen_suma_perc,
    percent_rank() over (partition by foto_mes order by m_ccorrientes_suma) as m_ccorrientes_suma_perc,
    percent_rank() over (partition by foto_mes order by m_cahorro_suma) as m_cahorro_suma_perc,
    percent_rank() over (partition by foto_mes order by mtarjetas_consumo_suma) as mtarjetas_consumo_suma_perc,
    percent_rank() over (partition by foto_mes order by mprestamos_suma) as mprestamos_suma_perc,
    percent_rank() over (partition by foto_mes order by mplazo_fijo_suma) as mplazo_fijo_suma_perc,
    percent_rank() over (partition by foto_mes order by minversion_suma) as minversion_suma_perc,
    percent_rank() over (partition by foto_mes order by mpayroll_suma) as mpayroll_suma_perc,
    percent_rank() over (partition by foto_mes order by m_debitos_automaticos_suma) as m_debitos_automaticos_suma_perc,
    percent_rank() over (partition by foto_mes order by m_descuentos_suma) as m_descuentos_suma_perc,
    percent_rank() over (partition by foto_mes order by mcomisiones_suma) as mcomisiones_suma_perc,
    percent_rank() over (partition by foto_mes order by mtransferencias_resta) as mtransferencias_resta_perc,
    percent_rank() over (partition by foto_mes order by m_extracciones_transf_suma) as m_extracciones_transf_suma_perc,
    percent_rank() over (partition by foto_mes order by m_movimientos_positivos_suma) as m_movimientos_positivos_suma_perc,
    percent_rank() over (partition by foto_mes order by m_movimientos_negativos_suma) as m_movimientos_negativos_suma_perc,
    percent_rank() over (partition by foto_mes order by Visa_consumo_div_limite) as Visa_consumo_div_limite_perc,
    percent_rank() over (partition by foto_mes order by Master_consumo_div_limite) as Master_consumo_div_limite_perc,
    percent_rank() over (partition by foto_mes order by tc_consumo_div_limite) as tc_consumo_div_limite_perc,
    percent_rank() over (partition by foto_mes order by tc_consumo_div_saldo) as tc_consumo_div_saldo_perc,
    percent_rank() over (partition by foto_mes order by tc_pagado_div_saldo) as tc_pagado_div_saldo_perc,
    percent_rank() over (partition by foto_mes order by prestamos_saldo_div) as prestamos_saldo_div_perc,
    percent_rank() over (partition by foto_mes order by descuentos_saldo_div) as descuentos_saldo_div_perc,
    percent_rank() over (partition by foto_mes order by comisiones_saldo_div) as comisiones_saldo_div_perc,
    percent_rank() over (partition by foto_mes order by extracciones_saldo_div) as extracciones_saldo_div_perc,
    percent_rank() over (partition by foto_mes order by mpositivos_negativos_div) as mpositivos_negativos_div_perc

FROM competencia_02_i2]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [16]:
%% sql
DROP TABLE competencia_02_i2;

ALTER TABLE competencia_02_i3 DROP  cliente_antiguedad;
ALTER TABLE competencia_02_i3 DROP  mrentabilidad;
ALTER TABLE competencia_02_i3 DROP  mrentabilidad_annual_;
ALTER TABLE competencia_02_i3 DROP  mcomisiones_;
ALTER TABLE competencia_02_i3 DROP  mactivos_margen_;
ALTER TABLE competencia_02_i3 DROP  mpasivos_margen_;
ALTER TABLE competencia_02_i3 DROP  mcuenta_corriente_adicional;
ALTER TABLE competencia_02_i3 DROP  mcuenta_corriente;
ALTER TABLE competencia_02_i3 DROP  mcaja_ahorro;
ALTER TABLE competencia_02_i3 DROP  mcaja_ahorro_adicional;
ALTER TABLE competencia_02_i3 DROP  mcaja_ahorro_dolares;
ALTER TABLE competencia_02_i3 DROP  mcuentas_saldo;
ALTER TABLE competencia_02_i3 DROP  mautoservicio;
ALTER TABLE competencia_02_i3 DROP  mtarjeta_visa_consumo;
ALTER TABLE competencia_02_i3 DROP  mtarjeta_master_consumo;
ALTER TABLE competencia_02_i3 DROP  mprestamos_personales;
ALTER TABLE competencia_02_i3 DROP  mprestamos_prendarios;
ALTER TABLE competencia_02_i3 DROP  mprestamos_hipotecarios;
ALTER TABLE competencia_02_i3 DROP  mplazo_fijo_dolares;
ALTER TABLE competencia_02_i3 DROP  mplazo_fijo_pesos;
ALTER TABLE competencia_02_i3 DROP  minversion1_pesos;
ALTER TABLE competencia_02_i3 DROP  minversion1_dolares;
ALTER TABLE competencia_02_i3 DROP  minversion2;
ALTER TABLE competencia_02_i3 DROP  mpayroll;
ALTER TABLE competencia_02_i3 DROP  mpayroll2;
ALTER TABLE competencia_02_i3 DROP  mcuenta_debitos_automaticos;
ALTER TABLE competencia_02_i3 DROP  mttarjeta_visa_debitos_automaticos_;
ALTER TABLE competencia_02_i3 DROP  mttarjeta_master_debitos_automaticos;
ALTER TABLE competencia_02_i3 DROP  mpagodeservicios;
ALTER TABLE competencia_02_i3 DROP  mpagomiscuentas;
ALTER TABLE competencia_02_i3 DROP  mcajeros_propios_descuentos;
ALTER TABLE competencia_02_i3 DROP  mtarjeta_visa_descuentos;
ALTER TABLE competencia_02_i3 DROP  mtarjeta_master_descuentos;
ALTER TABLE competencia_02_i3 DROP  mcomisiones_mantenimiento;
ALTER TABLE competencia_02_i3 DROP  mcomisiones_otras;
ALTER TABLE competencia_02_i3 DROP  mforex_buy;
ALTER TABLE competencia_02_i3 DROP  mforex_sell;
ALTER TABLE competencia_02_i3 DROP  mtransferencias_recibidas;
ALTER TABLE competencia_02_i3 DROP  mtransferencias_emitidas;
ALTER TABLE competencia_02_i3 DROP  mextraccion_autoservicio;
ALTER TABLE competencia_02_i3 DROP  mcheques_depositados;
ALTER TABLE competencia_02_i3 DROP  mcheques_emitidos;
ALTER TABLE competencia_02_i3 DROP  mcheques_depositados_rechazados;
ALTER TABLE competencia_02_i3 DROP  mcheques_emitidos_rechazados;
ALTER TABLE competencia_02_i3 DROP  matm;
ALTER TABLE competencia_02_i3 DROP  matm_other;
ALTER TABLE competencia_02_i3 DROP  Master_mfinanciacion_limite;
ALTER TABLE competencia_02_i3 DROP  Master_msaldototal;
ALTER TABLE competencia_02_i3 DROP  Master_msaldopesos;
ALTER TABLE competencia_02_i3 DROP  Master_msaldodolares;
ALTER TABLE competencia_02_i3 DROP  Master_mconsumospesos;
ALTER TABLE competencia_02_i3 DROP  Master_mconsumosdolares;
ALTER TABLE competencia_02_i3 DROP  Master_mlimitecompra;
ALTER TABLE competencia_02_i3 DROP  Master_madelantopesos;
ALTER TABLE competencia_02_i3 DROP  Master_madelantodolares;
ALTER TABLE competencia_02_i3 DROP  Master_mpagado;
ALTER TABLE competencia_02_i3 DROP  Master_mpagospesos;
ALTER TABLE competencia_02_i3 DROP  Master_mpagosdolares;
ALTER TABLE competencia_02_i3 DROP  Master_mconsumototal;
ALTER TABLE competencia_02_i3 DROP  Master_mpagominimo;
ALTER TABLE competencia_02_i3 DROP  Visa_mfinanciacion_limite;
ALTER TABLE competencia_02_i3 DROP  Visa_msaldototal;
ALTER TABLE competencia_02_i3 DROP  Visa_msaldopesos;
ALTER TABLE competencia_02_i3 DROP  Visa_msaldodolares;
ALTER TABLE competencia_02_i3 DROP  Visa_mconsumospesos;
ALTER TABLE competencia_02_i3 DROP  Visa_mconsumosdolares;
ALTER TABLE competencia_02_i3 DROP  Visa_mlimitecompra;
ALTER TABLE competencia_02_i3 DROP  Visa_madelantopesos;
ALTER TABLE competencia_02_i3 DROP  Visa_madelantodolares;
ALTER TABLE competencia_02_i3 DROP  Visa_mpagado;
ALTER TABLE competencia_02_i3 DROP  Visa_mpagospesos;
ALTER TABLE competencia_02_i3 DROP  Visa_mpagosdolares;
ALTER TABLE competencia_02_i3 DROP  Visa_mconsumototal;
ALTER TABLE competencia_02_i3 DROP  Visa_mpagominimo;
ALTER TABLE competencia_02_i3 DROP  tc_mfinanciacion_mayor;
ALTER TABLE competencia_02_i3 DROP  tc_mfinanciacion_menor;
ALTER TABLE competencia_02_i3 DROP  tc_mlimitecompra_mayor;
ALTER TABLE competencia_02_i3 DROP  tc_mlimitecompra_menor;
ALTER TABLE competencia_02_i3 DROP  tc_mpagominimo_mayor;
ALTER TABLE competencia_02_i3 DROP  tc_mpagominimo_menor;
ALTER TABLE competencia_02_i3 DROP  tc_mfinanciacion_limite_suma;
ALTER TABLE competencia_02_i3 DROP  tc_msaldototal_suma;
ALTER TABLE competencia_02_i3 DROP  tc_msaldopesos_suma;
ALTER TABLE competencia_02_i3 DROP  tc_msaldodolares_suma;
ALTER TABLE competencia_02_i3 DROP  tc_mconsumospesos_suma;
ALTER TABLE competencia_02_i3 DROP  tc_mconsumosdolares_suma;
ALTER TABLE competencia_02_i3 DROP  tc_mlimitecompra_suma;
ALTER TABLE competencia_02_i3 DROP  tc_madelantopesos_suma;
ALTER TABLE competencia_02_i3 DROP  tc_madelantodolares_suma;
ALTER TABLE competencia_02_i3 DROP  tc_mpagado_suma;
ALTER TABLE competencia_02_i3 DROP  tc_mpagospesos_suma;
ALTER TABLE competencia_02_i3 DROP  tc_mpagosdolares_suma;
ALTER TABLE competencia_02_i3 DROP  tc_mconsumototal_suma;
ALTER TABLE competencia_02_i3 DROP  tc_mpagominimo_suma;
ALTER TABLE competencia_02_i3 DROP  m_margen_suma;
ALTER TABLE competencia_02_i3 DROP  m_ccorrientes_suma;
ALTER TABLE competencia_02_i3 DROP  m_cahorro_suma;
ALTER TABLE competencia_02_i3 DROP  mtarjetas_consumo_suma;
ALTER TABLE competencia_02_i3 DROP  mprestamos_suma;
ALTER TABLE competencia_02_i3 DROP  mplazo_fijo_suma;
ALTER TABLE competencia_02_i3 DROP  minversion_suma;
ALTER TABLE competencia_02_i3 DROP  mpayroll_suma;
ALTER TABLE competencia_02_i3 DROP  m_debitos_automaticos_suma;
ALTER TABLE competencia_02_i3 DROP  m_descuentos_suma;
ALTER TABLE competencia_02_i3 DROP  mcomisiones_suma;
ALTER TABLE competencia_02_i3 DROP  mtransferencias_resta;
ALTER TABLE competencia_02_i3 DROP  m_extracciones_transf_suma;
ALTER TABLE competencia_02_i3 DROP  m_movimientos_positivos_suma;
ALTER TABLE competencia_02_i3 DROP  m_movimientos_negativos_suma;
ALTER TABLE competencia_02_i3 DROP  Visa_consumo_div_limite;
ALTER TABLE competencia_02_i3 DROP  Master_consumo_div_limite;
ALTER TABLE competencia_02_i3 DROP  tc_consumo_div_limite;
ALTER TABLE competencia_02_i3 DROP  tc_consumo_div_saldo;
ALTER TABLE competencia_02_i3 DROP  tc_pagado_div_saldo;
ALTER TABLE competencia_02_i3 DROP  prestamos_saldo_div;
ALTER TABLE competencia_02_i3 DROP  descuentos_saldo_div;
ALTER TABLE competencia_02_i3 DROP  comisiones_saldo_div;
ALTER TABLE competencia_02_i3 DROP  extracciones_saldo_div;
ALTER TABLE competencia_02_i3 DROP  mpositivos_negativos_div;

UsageError: Cell magic `%%` not found.

Para guardar a un **.csv** simplemente debe ejecutar la siguiente sentencia

In [17]:
%%sql
copy competencia_02_i3 to 'C:/Users/emiba/Documents/DMenEyF/datasets/competencia_02_fe01.csv.gz' (FORMAT CSV, HEADER)

RuntimeError: (duckdb.InvalidInputException) Invalid Input Error: Attempting to execute an unsuccessful or closed pending query result
Error: Invalid Error: Current transaction is aborted (please ROLLBACK)
[SQL: copy competencia_02_i3 to 'C:/Users/emiba/Documents/DMenEyF/datasets/competencia_02_fe01.csv.gz' (FORMAT CSV, HEADER)]
(Background on this error at: https://sqlalche.me/e/20/f405)
If you need help solving this issue, send us a message: https://ploomber.io/community